
# Create environment file name as .env.local and place following configuration data:

API_KEY = {api_key_of_your_stack}
DELIVERY_TOKEN = {delivery_token_of_the_environment}
ENVIRONMENT = {environment_name}
REGION = {eu | us}
LOCALE = {en-us}

# (Optional) For setting custom host add CUSTOM_HOST = {custom_host}